/**
 * @author : HelithaSri
 * @email : helitha.pravin@gmail.com
 * @create date : 2021-12-14  19:45
 * @modify date : 2021-12-19  18:50
 */

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

#top button {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #fec51c;
  z-index: 100;
}

body > header {
  position: relative;
  height: 80px;
  background-color: rgb(52, 89, 180);
  box-shadow: 5px 6px 10px 1px rgba(0, 0, 0, 0.062);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > nav {
  /* position: absolute;
  right: 0;
  left: 0;
  margin: auto; */
  font-size: 26px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

header > nav > ul {
  list-style: none;
  text-align: center;
}

header > nav > ul > li {
  display: inline;
  margin-left: 53px;
  cursor: pointer;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header > nav > ul > li > a:hover {
  color: #fec51c;
}

main > section:nth-child(1) {
  background-image: url("../img/covers.png");
  /* height: 857px; */
  height: 100vh;
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: rgb(52, 89, 180);
  position: relative;
}

main > section:nth-child(1) > div {
  position: absolute;
  top: 0;
  left: 156px;
  bottom: 0;
  margin: auto;
  height: 400px;
  width: 925px;
}

main > section:nth-child(1) > div > img {
  position: absolute;
  width: 335px;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid #fec51c;
  border-radius: 500px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

main > section:nth-child(1) > div > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 185px;
  /* background-color: aqua; */
  margin-left: 398px;
  color: white;
}

main > section:nth-child(1) > div > div > h1 {
  font-size: 62px;
  font-weight: 700;
  display: inline;
}

main > section:nth-child(1) > div > div > h1 > mark {
  background-color: transparent;
  color: #fec51c;
}

main > section:nth-child(1) > div > div > p {
  font-size: 26px;
  font-weight: 700;
  margin-left: 3px;
  margin-top: 10px;
}

main > section:nth-child(1) > div > div > div {
  margin-top: -10px;
  margin-left: -2px;
}

main > section:nth-child(1) > div > div > div > a {
  all: initial;
}

main > section:nth-child(1) > div > div > div > a > svg {
  width: 50px;
  height: 50px;
  fill: white;
  margin-right: 10px;
}

section:nth-child(1) > div > div > div > a > svg:hover {
  fill: #fec51c;
  cursor: pointer;
}

section:nth-child(1) > div > div > div > a > svg:visited {
  fill: #fec51c;
  cursor: pointer;
}

/* About Section Start */

#sec-about {
  background: linear-gradient(0deg, #212428, #212428);
  /* height: 650px; */
  height: 575px;
  color: #ffffff;
}

/* Title Style Start */
.title-div {
  position: relative;
  height: 219px;
}

.title-div > h1:nth-child(1) {
  text-align: center;
  margin: auto;
  padding-top: 40px;
  font-size: 86px;
  position: absolute;
  color: #c4cfde0a;
  z-index: 0;
  right: 0;
  left: 0;
  top: 0;
  user-select: none;
}
.title-div > h1:nth-child(1) > span {
  color: #fec51c0c;
}

.title-div > h1:nth-child(2) {
  z-index: 1;
  content: "ABOUT ME";
  right: 0;
  left: 0;
  margin-top: 70px;
  color: #c4cfde;
  position: absolute;
  text-align: center;
  font-size: 70px;
  user-select: none;
}
.title-div > h1:nth-child(2) > span {
  color: #fec51c;
}

/* Title Style End */

/* #sec-about > h1::before {
  z-index: 1;
  content: "ABOUT ME........";
  right: 0;
  left: 0;
  margin: auto;
  color: rgb(0, 102, 255);
  position: absolute;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  font-size: 70px;
} */

#info-div {
  /* display: contents; */
  position: relative;
}

#info-div > table {
  margin-left: 145px;
  /* border: 1px solid red; */
}

#info-div > table > caption {
  text-align: left;
  font-size: 30px;
}

.remove-list {
  list-style: none;
  padding: 0px;
  font-size: 20px;
  margin: 0;
}

.remove-list > li,
address > li {
  margin-bottom: 22px;
}

.remove-list > address {
  font-style: normal;
}

.remove-list > li > span {
  font-weight: 700;
}

.remove-list > address > li > span > a {
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#right-list {
  margin-left: 84px;
}

#cv-btn {
  position: relative;
  width: 338px;
  height: 82px;
  border: 5px solid #fec51c;
  background-color: transparent;
  border-radius: 68px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  line-height: 32px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-left: 147px;
  margin-top: 10px;
  cursor: pointer;
}

#cv-btn:hover {
  background-color: #d3a51a;
}

#cv-btn > span {
  text-transform: uppercase;
  position: relative;
  right: 30px;
  letter-spacing: 2px;
}

#cv-btn > div {
  position: absolute;
  width: 72px;
  height: 72px;
  background-color: #fec51c;
  border-radius: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* margin-right: -1px; */
}

#cv-btn svg {
  width: 40px;
  height: 40px;
  fill: white;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: 19px;
}

#info-right-div {
  /* background-color: rebeccapurple; */
  /* border: 2px solid red; */
  height: 300px;
  width: 760px;
  position: absolute;
  top: 0px;
  bottom: 0%;
  right: 155px;
  left: 1;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info-right-div > div {
  width: 357px;
  height: 169px;
  background: #212428;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

#info-right-div > div:nth-child(1) > span:nth-child(1) {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  color: #fec51c;
  /* margin: 11px 239px 83px 45px; */
  left: 35px;
  top: 11px;
}

#info-right-div > div:nth-child(1) > span:nth-child(2) {
  position: relative;
  width: 185px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #ffffff;
  left: 127px;
  bottom: -15px;
  display: block;
}

#info-right-div > div:nth-child(2) > span:nth-child(1) {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  color: #fec51c;
  /* margin: 11px 239px 83px 45px; */
  left: 35px;
  top: 11px;
}

#info-right-div > div:nth-child(2) > span:nth-child(2) {
  position: relative;
  width: 185px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #ffffff;
  left: 127px;
  bottom: -15px;
  display: block;
}
/* About Section End */

/* Skill Section Start */
#sec-skill {
  /* height: 70vh; */
  height: 550px;
  background-color: #212428;
  position: relative;
}

#slider {
  /* background-color: red; */
  height: 322px;
  width: 1201px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 30px;
  overflow: hidden;
  /* border: 1px solid red; */
}

#slid-con-div {
  /* width: 2948px; */
  width: 3000px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 3107px;
  margin-left: 1828px;
  /* animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation: scroll 10s linear alternate;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes scroll {
  from {
    margin-left: 1828px;
  }
  to {
    margin-left: -1821px;
  }
}

.slid-div {
  position: relative;
  height: 268px;
  width: 242px;
  background: #212428;
  border-radius: 30px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

/* #slider > div > img{
  display: block;
  width: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  
} */

.img-div {
  height: 192px;
  width: 192px;
  /* background-color: red; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* border: 5px solid #ffffff; */
  /* background-image: url("assets/img/skill_img/java.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#img_1 {
  background-image: url("../img/skill_img/java.png");
}

#img_2 {
  background-image: url("../img/skill_img/mySql.png");
}

#img_3 {
  background-image: url("../img/skill_img/html.png");
}

#img_4 {
  background-image: url("../img/skill_img/css.png");
}

#img_5 {
  background-image: url("../img/skill_img/spring.png");
}

#img_6 {
  background-image: url("../img/skill_img/python.png");
}

#img_7 {
  background-image: url("../img/skill_img/js.png");
}

#img_8 {
  background-image: url("../img/skill_img/hibernate.png");
}

#img_9 {
  background-image: url("../img/skill_img/ps.png");
}

#img_10 {
  background-image: url("../img/skill_img/adobe\ illustrator.png");
}

/* Skill Section End */

/* Education Section Start */
#sec-edu {
  height: 1105px;
  background-color: #212428;
  position: relative;
}

#time-flex-div {
  display: flex;
  justify-content: space-around;
  /* align-items: flex-end; */
  flex-direction: row;
  width: 1201px;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  /* border: 1px solid red; */
  padding-top: 125px;
  flex-wrap: wrap;
}

#timeline {
  /* position: absolute; */
  /* border: 2px solid red; */
  /* width: auto;
  height: auto; */
  /* padding-bottom: 250px; */
  /* width: 50%; */
  margin-bottom: 235px;
}

#timeline > hr {
  position: relative;
  width: 251px;
  height: 01px;
  background-color: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 5px;
  transform: rotate(90deg);
  margin: 0px;
  margin-left: -65px;
}

#timeline > hr::before {
  position: relative;
  width: 31px;
  height: 31px;
  content: "";
  font-weight: 900;
  font-weight: 300;

  background: #fec51c;
  display: block;
  border-radius: 100%;
  transform: rotate(-90deg);
  bottom: 15px;
  left: 37px;
  z-index: 2;
  line-height: 30px;
  text-align: center;
}

#timeline > hr::after {
  content: "";
  width: 70px;
  height: 1px;
  border: 4px solid #ffffff;
  background-color: #ffffff;
  display: block;
  border-radius: 5px;
  transform: rotate(90deg);
  position: relative;
  bottom: 70px;
  left: 13px;
}

#timeline > i {
  position: relative;
  color: #212428;
  left: 54px;
  top: -58px;
  margin: auto;
  z-index: 5;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  /* background-color: aqua; */
}

#timeline > div:nth-of-type(1) {
  /* width: 137px;
  height: 24px;
  background: #0056c7;
  box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
  border-radius: 12px;
  margin-left: 185px;
  margin-top: 144px;
  position: relative;
  top: -83px;
  display: contents; */

  position: relative;
  display: inline-block;
  width: 147px;
  height: 30px;
  top: -137px;
  left: 133px;
  border-radius: 12px;
  background: #212428;
  box-shadow: -2px -1px 10px rgba(52, 51, 51, 0.5);
  /* box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
  border-radius: 20px; */
}

#timeline > div:nth-of-type(1) > span {
  position: absolute;
  color: #ffffff;
  font-weight: 700;
  top: 5px;
  left: 15px;
  font-size: 14px;
  word-wrap: break-word;
  /* background-color: red; */
}

#timeline > div:nth-of-type(2) {
  /* width: 430px;
  height: 167px;
  background: #212428;
  box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
  border-radius: 12px;
  margin-left: 185px;
  margin-top: 144px;
  position: relative;
  top: -83px; */

  /* position: relative;
  width: 430px;
  height: 167px;
  background: #212428;
  box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
  border-radius: 12px;
  margin-left: 130px;
  margin-top: -102px;
  display: inline-block */

  position: relative;
  display: inline-block;
  width: 430px;
  height: 167px;
  top: 41px;
  left: -18px;
  background: #212428;
  box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
  border-radius: 12px;
  margin-top: -141px;
}

#timeline > div:nth-of-type(2) > span:nth-child(1) {
  position: absolute;
  color: #ffffff;
  font-weight: 700;
  top: 20px;
  left: 12px;
  font-size: 24px;
}

#timeline > div:nth-of-type(2) > span:nth-child(2) {
  position: absolute;
  color: #ffffff;
  font-weight: 700;
  top: 82px;
  left: 12px;
  width: 406px;
  height: 74px;
  /* background-color: red; */
  /* line-height: 74px; */
  word-wrap: break-word;
  font-size: 18px;
  display: flex;
  justify-content: left;
  align-items: center;
}

#sec-portflio {
  height: 2310px;
  background-color: #212428;
  position: relative;
}

#grid-div {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 1202px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 1354px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  justify-items: center;
}

#left_side {
  width: 601px;
  height: 2070px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#right_side {
  width: 601px;
  height: 2070px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#text_div {
  height: 241px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  font-family: Saira Condensed;
  color: #c4cfde;
}

#text_div > h4 {
  margin-right: 75px;
  line-height: 150%;
  letter-spacing: 0.03em;
}

.portfolio_card {
  width: 601px;
  height: 785px;
  background: #212428;
  box-shadow: 0px 4px 10px 10px rgba(196, 207, 222, 0.05);
  border-radius: 20px;
}

.portfolio_img {
  border-radius: 20px 20px 0px 0px;
  height: 601px;
  background-repeat: no-repeat;
}

#port_img1 {
  background: url(../img/RentalSystem.jpg);
}

#port_img2 {
  background: url(../img/blue\ ocean\ hotel.jpg);
}

#port_img3 {
  background: url(../img/parking\ System.jpg);
}

#port_img4 {
  background: url(../img/Portfolio_PSD.jpg);
}

.portfolio_card > span {
  position: relative;
  top: 20px;
  font-size: 15px;
  font-weight: 700;
  margin: 20px;
  color: #fec51c;
}

.portfolio_card > span > i {
  font-size: 15px;
  font-weight: 700;
  color: #e5e5e5;
  transform: scaleX(-1);
  margin-right: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#port_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 137px;
  font-size: 30px;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
  color: #e5e5e5;
  margin: 20px;
}

#btn_div {
  height: 241px;
  /* background-color: #1c76fe; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  color: #c4cfde;
}

.see_more_btn {
  width: 289px;
  height: 82px;
  border: 5px solid #fec51c;
  background-color: transparent;
  border-radius: 68px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  line-height: 32px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.see_more_btn:hover {
  background-color: #d3a51a;
}

.portfolio_card:hover {
  transform: scale(1.05);
}

/* Portfolio Section End */

/* Activity Section Start */
#sec-activity {
  height: 835px;
  background-color: #212428;
  position: relative;
}

#activity_container {
  /* background-color: red; */
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* border: 1px solid red; */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1550px;
}

.activity_card_div {
  position: relative;
  width: 341px;
  height: 469px;
  background: #212428;
  box-shadow: 0px 0px 10px 10px rgb(196 207 222 / 5%);
  border-radius: 30px;
}

.activity_card_div:hover {
  transform: scale(1.1);
}

.activity_card_div > div:nth-child(1) {
  position: relative;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  /* width: 298.04px;
  height: 202px; */
  width: 300px;
  height: 300px;
  border-radius: 15px;
  background-color: #c4cfde;
}

.activity_card_div > div:nth-child(2) {
  position: relative;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: auto;
  width: 300.04px;
  height: 101px;
  /* background-color: #1a54a7; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #e5e5e5;

  bottom: 0px;
  top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#about_btn {
  position: relative;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: max-content;
  width: max-content;
}

.activity_img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

#activity_img1 {
  background-image: url(../img/activities/case\ 1.jpg);
}

#activity_img2 {
  background-image: url(../img/activities/case\ 2.jpg);
}

#activity_img3 {
  background-image: url(../img/activities/case\ 3.jpg);
}

#activity_img4 {
  background-image: url(../img/activities/case\ 4.jpg);
}
/* Activity Section End */

/* Contact Us Section Start */

#sec-contact {
  height: 1025px;
  /* height: 945px; */
  background-color: #212428;
  position: relative;
}

.wrap {
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 1530px;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #0e76a8; */
}

#contact_left_cont_div {
  display: flex;
  height: 715px;
  width: max-content;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid red; */
}

#digital_div {
  position: relative;
  width: 749px;
  height: 357.5px;
  background: #212428;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: inline-block;
}

#digital_div > div:nth-child(1) {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

  font-weight: 900;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c4cfde;
}

#digital_div > div > p > span {
  color: #fec51c;
}

#social_icon_div {
  /* display: flex;
  position: relative;
  left: 15px;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: max-content; */

  display: inline-flex;
  position: relative;
  left: 69px;
  top: 30px;
  justify-content: space-between;
  align-items: center;
  width: 608px;
  height: max-content;
  margin-top: 48px;
  margin-bottom: 48px;
}

.icon-cont-div {
  position: relative;
  width: 79px;
  height: 79px;
  border-radius: 15px;

  background: #212428;
  box-shadow: -1px -1px 4px rgba(196, 207, 222, 0.2);
}

.icon-cont-div > a > svg {
  position: relative;
  top: 12px;
  bottom: 0;
  left: 14px;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  fill: white;
}

#icon_1:hover {
  background-color: #0e76a8;
}

#icon_2:hover {
  background-color: #1da1f2;
}

#icon_3:hover {
  background-color: #1c92fe;
}

#icon_4:hover {
  background-color: #320032;
}

#icon_5:hover {
  background-color: #fe1c1c;
}

/* .icon-cont-div > a > svg:hover {
  fill: #fec51c;
  cursor: pointer;
}

.icon-cont-div > a > svg:visited {
  fill: #fec51c;
  cursor: pointer;
} */

#bottom {
  position: relative;
  width: 749px;
  /* height: 357.5px; */
  /* background: #212428; */
  /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25); */
  border-radius: 20px;
  display: block;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom_card {
  width: 359px;
  height: 329px;
  background: #212428;
  background: #212428;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* #bottom > div:nth-child(1) {
  
}

#bottom > div:nth-child(2) {
  width: 359px;
  height: 329px;
  background: #212428;
  background: #212428;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
} */

.icon_title {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon_title > i {
  font-size: 50px;
  color: #c4cfde;
  margin: 0;
  /* margin-top: 40px; */
}

.icon_title > i:nth-child(2) {
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  color: #c4cfde;
  font-size: 35px;
  right: 145px;
}

.icon_title > h1 {
  font-size: 50px;
  color: #c4cfde;
  margin: 0;
  margin-top: 10px;
}

.bottom_card > div:nth-child(2) {
  position: relative;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #c4cfde;
  bottom: -100px;
}

#contact_right_cont_div {
  display: inline-flex;
  align-items: center;
  height: 715px;
  width: max-content;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 2px solid red; */
  width: 749px;

  background-color: #212428;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.form-row {
  position: relative;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0px;
  margin-left: 0px;
  flex-basis: 45%;
}

.form-row > input,
textarea {
  width: 649px;
  height: 54px;
  font-size: 18px;
  color: #ffffff80;
  background-color: #191b1e;
  box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  margin: 10px;
  /* padding-left: 25px;
  padding-right: 25px; */
  text-indent: 20px;
}

textarea {
  /* max-width: 649px; */
  height: 240px;
  overflow: unset;
  padding-top: 22px;
  padding-bottom: 22px;
}

.form-row > label {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  left: 35px;
  margin-top: 31px;
  z-index: 50;
}

.name_and_no {
  display: flex;
  flex-grow: 50px;
  flex-grow: 50%;
  justify-content: space-around;
}

.name_and_no .form-row #name,
#number {
  /* background-color: #0e76a8; */
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-indent: 10px;
}

.name_and_no > .form-row > label {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  left: 14px;
  margin-top: -47px;
  z-index: 50;
}

#msg_div {
  /* background-color: #1c92fe; */
}

#send_msg_btn {
  width: 649px;
  height: 55px;
  background: #212428;
  box-shadow: 0px 3px 10px #000000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 25px;
  color: #fec51c;
}

#sec-contact > hr {
  margin-top: 50px;
  width: 1612px;
  margin-bottom: 50px;
}

/* Contact Us Section End */

/* Footer Start */

#footer {
  background-color: #212428;
  height: 250px;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: #0e76a8; */
}

#pic {
  width: 150px;
  height: 150px;
  border: 5px solid #fec51c;
  border-radius: 100%;
  background-image: url(../img/Dp.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

#footer_p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  /* text-align: center; */
  color: #ffffff;
  
}

#footer_p > a{
  text-decoration: none;
  color: #ffffff;
}

#footer_p > a:visited{
  text-decoration: none;
  color: #ffffff;
}